# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Dependency directories (vendor/)
vendor/

# Test binary, coverage, and results
*.test
*.cover
*.cov

# Go workspace file
go.work

*.env